@model IEnumerable<PRmetricWeb.Models.User>

@{
    ViewData["Title"] = "Index";
}


<table id="jdTable" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.All)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPoints)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.All)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPoints)
            </td>
        </tr>
}
    </tbody>
</table>
