@model IEnumerable<PRmetricWeb.Models.Info>

@{
    ViewData["Title"] = "Info";
}

<h1>Info</h1>

<table id="jdTable" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iteration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenPRCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedPRCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.All)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPoints)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Iteration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenPRCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosedPRCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.All)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPoints)
                </td>
            </tr>
        }
    </tbody>
</table>
